<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerLinks}}
    <link rel="stylesheet" href="templates/style/style.css">
    <title>Document</title>
</head>
<body>
	{{> header name = "INDIA"}}
    <H1>This is partials  Epress JS</H1>
	<H1>This is under Template folder  Epress JS</H1>
	{{>footer}}

</body>
</html>

